<div class="bg-light d-flex flex-column justify-content-between sideBar">
  <div class="d-flex flex-column">
    <a class="py-6 mt-3 ms-7" href="../pages/index.html"
      ><img src="../assets/images/logo-ANSWER.svg" alt="LOGO"
    /></a>
    <ul class="ps-0">
      <li>
        <a
          href="#"
          class="text-dark link-success border-link-success fw-bold ps-6 d-flex py-3"
        >
          <span class="material-symbols-outlined me-4"> insert_chart </span>
          Dashboard
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-dark link-success border-link-success fw-bold ps-6 d-flex py-3"
        >
          <span class="material-symbols-outlined me-4"> forum </span>
          Question
        </a>
      </li>
      <li>
        <a
          href="../pages/index.html"
          class="text-dark link-success border-link-success fw-bold ps-6 d-flex py-3"
          id="assignment"
        >
          <span class="material-symbols-outlined me-4"> assignment </span>
          Assignment
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-dark link-success border-link-success fw-bold ps-6 d-flex py-3"
        >
          <span class="material-symbols-outlined me-4"> video_library </span>
          Course
        </a>
      </li>
      <li>
        <a
          href="../pages/admin.html"
          class="text-dark link-success border-link-success fw-bold ps-6 d-flex py-3"
          id="admin" 
        >
          <span class="material-symbols-outlined me-4"> group </span>
          Admin
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-dark link-success border-link-success fw-bold ps-6 d-flex py-3"
        >
          <span class="material-symbols-outlined me-4"> settings </span>
          Settings
        </a>
      </li>

    </ul>
  </div>
  <div class="d-flex align-items-center ms-7 mb-7">
    <div class="circle-shape">
      <img class="fit-img" src="../assets/images/andychen.jpeg" alt="profile">
    </div>
    <div class="ms-4">
      <strong>Andy Chen</strong>
      <p class="mb-0">andy0401@mail.com</p>
    </div>
  </div>
</div>
