.pagination-mt{
  margin-top: 63.5px;
}
.model-width{
  min-width: 480px;
}
.my-24_5px{
  margin-top: 24.5px;
  margin-bottom: 24.5px;
}
.h-51{
  height: 51px;
}

.verificationBtn{
  color: $green;
  border-color: $gray-400;
}
.verificationBtn:hover{
  color: white;
  background-color: $green;
}