.Course-list{
  padding-left: 50px;
}


.download-link{
  max-width: 176px;
  border-radius: 2px;
  margin-bottom: 16.5px;
}

.reply-box{
  margin-top: 16.5px;
}

.replay-content{
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0, 
    'wght' 700,
    'GRAD' -25,
    'opsz' 48
  }
}

.ck-content {
  min-height: 263px;
  color: #CED4DA;
}

.editorBox{
  position: relative;
}

.display-none{
  display: none !important;
}

.editor-btn-box{
  position: absolute;
  right: 24px;
  bottom: 16px;
}

.sideBar-active{
  color: #198754 !important;
  border-left: 4px solid #198754;
}